@page
@model Hormona.App.Pages_BDPacientes.CreateModel
@{
}

<form method="post">
    <div asp-validation-sumary="ModelOnly"></div>
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Paciente.nombre" placeholder="Digite el nombre del paciente" class="form-control"/> 
    </div>
     <div class="form-group">
        <label>Apellidos</label>
        <input asp-for="Paciente.apellido" placeholder="Digite los apellidos del paciente" class="form-control"/>
    </div>
     <div class="form-group">
        <label>Telefono</label>
        <input asp-for="Paciente.telefono" placeholder="Digite el telefono del paciente" class="form-control"/> 
    </div>
     </div>
     <div class="form-group">
        <label>Documento</label>
        <input asp-for="Paciente.documento" placeholder="Digite el documento del paciente" class="form-control"/>
    </div>
    <label>Sexo</label>
     <div class="form-group">
        <select asp-for="Paciente.sexos" class="form-control">
            <option selected>Sexo..</option>
            <option value=0>Femenino</option>
            <option value=1>Masculino</option>
        </select>

    </div>
     </div>
     <div class="form-group">
        <label>Ciudad</label>
        <input asp-for="Paciente.ciudad" placeholder="Digite la ciudad del paciente" class="form-control"/>
    </div>
     </div>
     <div class="form-group">
        <label>Direccion</label>
        <input asp-for="Paciente.direccion" placeholder="Digite la direccion del paciente" class="form-control"/>
    </div>
     </div>
     <div class="form-group">
        <label>Longitud</label>
        <input asp-for="Paciente.longitud" placeholder="Digite la longitud del paciente" class="form-control"/>
    </div>
     </div>
     <div class="form-group">
        <label>Latitud</label>
        <input asp-for="Paciente.latitud" placeholder="Digite la latitud del paciente" class="form-control"/>
    </div>
     </div>
     <div class="form-group">
        <label>Fecha de Nacimineto</label>
        <input asp-for="Paciente.fechaDeNacimineto"  class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary" asp-page-handler="Save">Crear</button>
</form>

