@page
@model Hormona.App.Pages_BDFamiliar.CreateModel
@{
}
<form method="post">
    <div asp-validation-sumary="ModelOnly"></div>
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Familiar.nombre" placeholder="Digite el nombre del Familiar" class="form-control"/>    
    </div>
     <div class="form-group">
        <label>Apellidos</label>
        <input asp-for="Familiar.apellido" placeholder="Digite los apellidos del Familiar" class="form-control"/>
    </div>
     <div class="form-group">
        <label>Telefono</label>
        <input asp-for="Familiar.telefono" placeholder="Digite el telefono del Familiar" class="form-control"/>
    </div>
     </div>
     <div class="form-group">
        <label>Documento</label>
        <input asp-for="Familiar.documento" placeholder="Digite el documento del Familiar" class="form-control"/>
    </div>
    <label>Sexo</label>
     <div class="form-group">
        <select asp-for="Familiar.sexos" class="form-control">
            <option selected>Sexo..</option>
            <option value=0>Femenino</option>
            <option value=1>Masculino</option>
        </select>

    </div>
     </div>
     <div class="form-group">
        <label>Parentesco</label>
        <input asp-for="Familiar.parentesco" placeholder="Digite el codigo del Familiar" class="form-control"/>
    </div>
     </div>
     <div class="form-group">
        <label>Email</label>
        <input asp-for="Familiar.email" placeholder="Digite el registro del Familiar" class="form-control"/>
    </div>
          
    <button type="submit" class="btn btn-primary" asp-page-handler="Save">Crear</button>
</form>